* {
    font-family: poppins, Roboto, sans-serif;
    font-size: 13px;
    outline: none;
    border: none;
}

window#waybar {
    color: #ffffff;
    background-color: #202020;
}

#clock, #window, #custom-launcher, #custom-bg, #workspaces, #battery, #backlight, #network, #pulseaudio, #custom-media, #tray {
    margin: 4px 4px;
    padding: 0px 10px;
    color: #ffffff;
    border-radius: .25rem;
}

#window {
    margin-left: 2px;
    font-weight: 500;
}

#workspaces {
    font-family: "Noto Sans JP ExtraBold", Roboto, sans-serif;
    font-weight: 900;
    padding: 0 4px;
}

#workspaces button {
    padding: 0 4px;
    color: #ffffff;
    background-color: transparent;
}

#workspaces button:hover {
    color: #439;
}

#workspaces button.active {
    color: #43d;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery {
    color: #fff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

#custom-launcher {
    padding-right: 15px;
    background-color: #1793d1;
    color: #000;
}

#custom-bg {
    background-color: #55c;
    color: #fff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    color: #2980b9;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #1a4c31;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
